ul{
    padding: 0;
}

.user-info{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

.user-info__block{
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
}

li{
    padding: 8px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
}

.delete{
    display: flex;
    justify-content: flex-end;
}